* {
  background-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
    
}

body, html {
  height: 100%;
}

  #title {
        font-family: 'Ranchers', cursive;
        font-size: larger;
      }

.bg {
    background-image: no-repeat center center fixed;
    height: 100vh;
    }
      